@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("~/Views/Shared/_DocumentTable.cshtml")

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</nav>